<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <!-- Card Desafíos Start -->
  
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'suricata.png', class: 'suricata' %>
                <div class="card-body">
                  <h5 class="card-title">Suricata</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML y CSS Bootstrap.</p>
                  <a href="https://lyrachan.github.io/Desafio-Suricata/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'olivia-ros.png', class: 'olivia-ros' %>
                <div class="card-body">
                  <h5 class="card-title">Curriculum Olivia Ros</h5>
                  <p class="card-text">Desafío consistente en recrear una página web tipo Curriculum empleando HTML y CSS Bootstrap.</p>
                  <a href="https://lyrachan.github.io/Desafio-Olivia-Ros/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'cuppon.png', class: 'cuppon' %>
                <div class="card-body">
                  <h5 class="card-title">Cuppon</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML y CSS Bootstrap.</p>
                  <a href="https://lyrachan.github.io/Desafio-Evaluado-Cuppon/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>
      </div>



      <!-- Second row -->
      <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'notasfinales.png', class: 'notasfinales' %>
                <div class="card-body">
                  <h5 class="card-title">Promediador de Notas Finales</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML, CSS Bootstrap y Javascript (JQuery) para promediar notas.</p>
                  <a href="https://lyrachan.github.io/Desafio-Notas-Finales/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'ricomida.png', class: 'ricomida' %>
                <div class="card-body">
                  <h5 class="card-title">Portal Ricomida</h5>
                  <p class="card-text">Desafío consistente en recrear una página web sobre recetas de comida empleando HTML, CSS Bootstrap y Javascript (JQuery) con botones funcionales.</p>
                  <a href="https://lyrachan.github.io/Desafio-Evaluado-Ricomida/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'viajeschile.png', class: 'viajeschile' %>
                <div class="card-body">
                  <h5 class="card-title">Viajes Chile</h5>
                  <p class="card-text">Desafío consistente en recrear una página web de una agencia de turismo ficticia empleando HTML, CSS Bootstrap y Javascript (JQuery) con botones funcionales.</p>
                  <a href="https://lyrachan.github.io/Prueba-Viajes-Chile" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>
      </div>

      <!-- Third row -->
      <div class="row">
        <div class="col-xs-12 col-md-4 mx-auto">  <!-- Deshabilitar el mx-auto al momento de añadir nuevas columnas -->
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'portal-postulaciones.png', class: 'portal-postulaciones' %>
                <div class="card-body">
                  <h5 class="card-title">Portal Postulaciones</h5>
                  <p class="card-text">Prueba consistente en crear un sitio que permita a su administrador publicar ofertas de puestos de trabajo, 
                    crear perfiles para sus trabajadores para que postulen a estos, y permite ver los trabajadores que han postulado al cargo.
                  </p>
                  <a href="https://pruebam6.onrender.com/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

      </div>
  
      <!-- Card Desafíos End -->
</body>
</html>