<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <!-- Card Desafíos Start -->
  
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'suricata.png', class: 'suricata' %>
                <div class="card-body">
                  <h5 class="card-title">Suricata</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML y CSS Bootstrap.</p>
                  <a href="https://lyrachan.github.io/Desafio-Suricata/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'olivia-ros.png', class: 'olivia-ros' %>
                <div class="card-body">
                  <h5 class="card-title">Curriculum Olivia Ros</h5>
                  <p class="card-text">Desafío consistente en recrear una página web tipo Curriculum empleando HTML y CSS Bootstrap.</p>
                  <a href="https://lyrachan.github.io/Desafio-Olivia-Ros/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'cuppon.png', class: 'cuppon' %>
                <div class="card-body">
                  <h5 class="card-title">Cuppon</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML y CSS Bootstrap.</p>
                  <a href="https://lyrachan.github.io/Desafio-Evaluado-Cuppon/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>
      </div>



      <!-- Second row -->
      <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'suricata.png', class: 'suricata' %>
                <div class="card-body">
                  <h5 class="card-title">Suricata</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML y CSS Bootstrap</p>
                  <a href="https://lyrachan.github.io/Desafio-Suricata/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'olivia-ros.png', class: 'olivia-ros' %>
                <div class="card-body">
                  <h5 class="card-title">Curriculum Olivia Ros</h5>
                  <p class="card-text">Desafío consistente en recrear una página web tipo Curriculum empleando HTML y CSS Bootstrap</p>
                  <a href="https://lyrachan.github.io/Desafio-Olivia-Ros/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'suricata.png', class: 'suricata' %>
                <div class="card-body">
                  <h5 class="card-title">Suricata</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML y CSS Bootstrap</p>
                  <a href="https://lyrachan.github.io/Desafio-Suricata/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>
      </div>
  
      <!-- Card Desafíos End -->
</body>
</html>