<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- Card Start-->

    <div class="card mx-4 my-4" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= image_tag 'rumia2.gif', class: 'card_img' %>
          </div>
          <div class="col-md-6 mb-5">
            <div class="card-body">
              <h2 class="fw-semibold">Jorge Lira</h2>
              <h5 class="card-title">(La imagen es referencial)</h5>
              <p class="card-text">Desarrollador de aplicaciones Ruby en formación, haciendo empleo del framework Rails para construir y establecer un funcionamiento full-stack de sitios web.</p>
              <a href="#" class="btn text-white" style="background-color: #FF1493;">Soy un botoncito, pronto podré hacer cosas</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card End -->
  
      <!-- Sign Start -->
  
      <div class="container mt-5 py-2 ">
        <h2 class="fw-bold">Algunos trabajos anteriores</h2>
      </div>
  
      <!-- Sign End -->
  
      <!-- Card Desafíos Start -->
  
      <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'suricata.png', class: 'suricata' %>
                <div class="card-body">
                  <h5 class="card-title">Suricata</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML y CSS Bootstrap.</p>
                  <a href="https://lyrachan.github.io/Desafio-Suricata/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'ricomida.png', class: 'ricomida' %>
                <div class="card-body">
                  <h5 class="card-title">Ricomida</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML, CSS Bootstrap y Javascript (JQuery).</p>
                  <a href="https://lyrachan.github.io/Desafio-Evaluado-Ricomida/" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card my-5" style="width: 18rem;">
                <%= image_tag 'viajeschile.png', class: 'viajeschile' %>
                <div class="card-body">
                  <h5 class="card-title">Viajes Chile</h5>
                  <p class="card-text">Desafío consistente en recrear una página web empleando HTML, CSS Bootstrap y Javascript (JQuery).</p>
                  <a href="https://lyrachan.github.io/Prueba-Viajes-Chile" class="btn btn-primary">Ver página</a>
                </div>
              </div>
        </div>
      </div>
  
      <!-- Card Desafíos End -->

      <button type="button" class="btn btn-info mb-5"><%= link_to 'Ver más trabajos', projects_path, class: 'text-decoration text-white fs-5'  %></button>

</body>
</html>